lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.rnd
*.crt
*.key
*.csr

pids
logs
results
.metadata

node_modules
npm-debug.log

library/bin
library/gen
sample/SimpleSample/bin
sample/SimpleSample/gen
sample/ExitAfterExpired/bin
sample/ExitAfterExpired/gen
sample/RestrictAfterExpired/bin
sample/RestrictAfterExpired/gen
sample/NagwareAfterExpired/bin
sample/NagwareAfterExpired/gen
test/bin
test/gen
