doctype 5
html
	head
		title MobileTrial Configurator
		link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
		link(rel='stylesheet', href='/css/style.css')
		link(href='/css/bootstrap-responsive.css', rel='stylesheet')
	body
		#wrap
			block navigation
			block content
			#push
		#footer
			.container
				p MobileTrial Configurator. Watch project on 
					a(href='https://github.com/MaChristmann/mobile-trial') Github 
		script(src='http://code.jquery.com/jquery-latest.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/global.js')
