extends layout

block content	
	h1.center MobileTrial

	if typeof err != 'undefined'
		div.alert.alert-block.alert-error 
			button(type="button", class="close", data-dismiss="alert") &times;
			h4 Error!
			| #{err}

	div(class='container')
		form(method='POST', action='/cfg',  name='login', class='form-signin')
			h2(class='form-signin-heading') Please sign in
			input(name='loginUser', type='text', class='input-block-level', placeholder='Email address')
			input(name='loginPassword', type='password', class='input-block-level', placeholder='Password')
			input(name='loginServer', type='text', class='input-block-level', placeholder='Server url')
			button(class='btn btn-large btn-primary', type='submit') Sign in
	script(src='http://code.jquery.com/jquery-latest.js')
	script(src='js/bootstrap.min.js')
